body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.menu {
    text-align: center;
}

.menu h1 {
    font-size: 2rem;
    color: #e76f51;
    margin-bottom: 10px;
}

.menu-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.menu p {
    font-size: 1rem;
    color: #264653;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2a9d8f;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #264653;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #e76f51;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #d35400;
}

.form-group p {
    font-size: 1.2rem;
    color: #2a9d8f;
    text-align: center;
}
